.header{
    .photo{
        /* top: 50%; */
        /* height: calc(100vh - 75px); */
        height: 100vh;
        overflow: hidden;
        img{
            width: 100vw;
            z-index: 1;
        }
    }
}