@font-face {
    font-family:"Neutraface";
    src: url(Neutra2Text-Demi.otf);
}

.header{
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0.2vh 10px 0px black;   

    .wrapper{
        width: calc(100% - 50px);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .leftContainer{
            width: 30%;
            display: flex;
            gap: 75px;

            img{
                width: 40px;
                height: auto;
            }    
        }

        .rightContainer{
            width: auto;
            display: flex;
            align-items: center;
            gap: 30px;
            padding-right: 60px;
            position: relative;

            .tabs{
                display: flex;
                gap: 30px;
            }
    
            a{
                font-family: "Neutraface";
                font-size: 14px;
                color: black;
                text-decoration: none;
            }

            .sidebar{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 60px;
            }
        }
    }
}