.mainDiv{
    position: relative;
    height: 60vh;
    width: 100vw;
    z-index: -1;
}
.photoDiv {
    position: relative;
    height: 100%;
    width: 90%;
    margin-left: 10%;
    overflow: hidden;

}
.photo{
    height: 100%;
    width: 100%;
    transform: scale(1.1);
}

.logo {
    position: absolute;
    height: 72%;
    top: 16%;
    right: 0%;
    transform: translateX(-50%);
}

.chabots{
    /* CHABOTS */
    margin-top: 4vh;
    position: absolute;
    width: 10%;
    height: 90%;

}
.svg-container{
    width: 100px;
    height: 100px;
    resize: both;
    overflow: hidden;
    border: 1px dashed #aaa;
}


